<h1>วิธีการใช้งาน Agro</h1>
<div class="contents-container">

<h2>วิธีการเพิ่มพื้นที่เพาะปลูก</h2>
<ol>
	<li>
		กดปุ่มเพิ่มพื้นที่เพาะปลูก
	</li>

	<li>
		ใส่ชื่อพื้นที่เพาะปลูก
	</li>

	<li>
		ใส่พื้นที่ ละติจูดและลองติจูด (สามารถกดปุ่ม"ใช้พิกัดที่อยู๋ปัจจุบัน"ได้)
	</li>

	<li>
		เลือกวิธีการเพาะปลูก
	</li>

	<li>
		เลือกวันที่เพาะปลูก
	</li>

	<li>
		กดปุ่ม "เสร็จสิ้น" เพื่อเพิ่มพื้นที่เพาะปลูก
	</li>
</ol>

<h2>วิธีการดูพื้นที่เพาะปลูก</h2>
<ol>
	<li>
		เลือกพื้นที่เพาะปลูกที่ต้องการดู
	</li>
	<li>
		สามารถลบพื้นที่เพาะปลูกด้วยการกดปุ่ม "ลบพื้นที่เพาะปลูก" ด้านข้างได้
	</li>
	<li>
		หลังจากเข้าดูพื้นที่เพาะปลูกแล้วผู้ใช้สามารถแก้ไขพื้นที่เพาะปลูกได้
	</li>
</ol>

<h2>การแจ้งเตือน</h2>
<ul>
	<li>
		เลือกการแจ้งเตือนที่ต้องการดู
	</li>
	<li>
		สามารถลบการแจ้งเตือนด้วยการกดปุ่ม "ลบการแจ้งเตือน" ด้านข้างได้
	</li>
	<li>
		ผู้ใช้สามารถศึกษาข้อมูลเพิ่มเติมเกี่ยวกับการป้องกันโรดได้ด้วยการเลือกหัวข้อด้านล่างได้
	</li>
</ul>

</div>