<p id="notice"><%= notice %></p>

<h1>ข่าว</h1>

<div class="container">
<table>
  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td>
          <div>
            <a href="<%= content_path(content) %>">
              <%= content.title %><br>
              <%= content.body[0..40] + "... " %>
              <hr>
            </a>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
