<p id="notice"><%= notice %></p>

	<div class="content-title">
		<h1>
	  	<%= @content.title %>
		</h1>
	</div>

 	<div class="content-img">
      <%= image_tag content.content_images.first.image.url(:thumb) unless content.content_images.empty? %>
    </a>
  </div>
  <br>
  <%= @content.body %>


