<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @content_type.name %>
</p>

<%= link_to 'Edit', edit_content_type_path(@content_type) %> |
<%= link_to 'Back', content_types_path %>
