<p id="notice"><%= notice %></p>
<div class="noti-show">
	<h1>
	 <!--  <strong>Disease:</strong> -->
	  โรคที่เป็น
	</h1>
	<p>
	  <strong>Cf:</strong>
	  <%= @notification.cf %>
	</p>
	<p>
		<%= @notification.disease.name %>
	</p>
</div>