<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @content_image.image %>
</p>

<%= link_to 'Edit', edit_content_image_path(@content_image) %> |
<%= link_to 'Back', content_images_path %>
