@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/glyphicons";
@import "generic";
@import "js-image-slider";
@import "flat-ui";
@import "cultivated_areas.scss";

$maincolor: #ffffff;
$bg-color: #27AE60;
$shadow: 0px 6px 6px 4px rgba(0,0,0,0.5);
html,body{
	background-color: $maincolor;
	min-height: 100%;
	height: 100%;
}
.logo{
	margin-bottom:50px;
}
.push {
	height: 4em;
}
.container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
	min-width: 100%;
	margin: 0 auto -4em;
}
.navbar {
	margin-bottom: 50px;

}
.page-wrapper{
	min-height: 100%;
	height: 100%;
	/*margin-top: 50px;*/
	/*padding: 30px 50px 50px 50px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;*/
	background-color: $maincolor;
	/*-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;*/
	}
.circle {
	border-radius: 3%;
	border-color: #2C3E50;
	border: 5px solid;
	background-color: #ECF0F1;
	/* width and height can be anything, as long as they're equal */
}
.authenticate-nav{
	float: right;
}
.imagine-nav{
	/*margin-top: -50px;*/
}

.container-navbar{
	float: right;
}

.nav-li{
	float: right;
	margin-right: 10px;
}

.nav-wrapper{
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.header-wrapper{
	margin-left: auto;
	margin-right: auto;
}

.name-web{
	max-width: 300px;
		margin-left: auto;
		margin-right: auto;
}

.input-search{
		padding-top: 30px;
		float: right;
		max-width: 500px;
	}

.btn-search{
	height: 34px;
}

.footer {
	margin-top: 50px;
   	position:static;
   	bottom:0;
   	width:100%;
   	height:60px;   /* Height of the footer */
}





/*Log in*/


.login-container{
	margin-top: 10px;
	/*background-color: lighten($maincolor,50%);*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	text-align: left;
	/*min-height: 300px;*/
	min-width: 400px;
	width: 30%;
}

.login-component{
	min-width: 300px;
	margin: 50px !important;
}

.login-field{
	min-width: 200px;
}

@media screen and (min-width: 1000px) {

	/*SIGNUP*/

	.signup-component{
		max-width: 600px;
		margin: 50px !important;
	}

	.signup-field{
		min-width: 400px;
	}

	.signup-container{
		margin-top: 10px;
		/*background-color: lighten($maincolor,50%);*/
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px;
		text-align: left;
		/*min-height: 300px;*/
		min-width: 700px;
		width: 50%;
	}
}
@media screen and (max-device-width: 991px) {
	.footer {
	   position:static;
	}
}
@media screen and (max-device-width: 769px) {
	.footer {
	   position:static;
	}
	.container-navbar{
		float: none;
	}
	.nav-btn{
		float: left;
	}

	.nav-wrapper{
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.nav-li{
		float: none;
		text-align: center;
		/*clear: both;*/
	}

	.page-wrapper{
		/*margin-top: 50px;*/
		max-width: 100%;
		padding: 0px;
		margin-right: auto;
		margin-left: auto;
	}

	.input-search{
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
	/*SIGNUP*/

	.signup-component{
		max-width: 300px;
		margin: 50px !important;
	}

	.signup-field{
		max-width: 200px;
	}

	.signup-container{
		margin-top: 10px;
		/*background-color: lighten($maincolor,50%);*/
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px;
		text-align: left;
		/*min-height: 300px;*/
		max-width: 400px;
		width: 50%;
	}
}



/*EDIT*/

.user-container{
	margin-top: 10px;
	background-color: lighten($maincolor,50%);
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	text-align: left;
	/*min-height: 300px;*/
	max-width: 400px;
	width: 30%;
}

.user-component{
	max-width: 300px;
	margin-left: auto;
	margin-right: auto; 
}

.user-field{
	max-width: 300px;
}
