@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/glyphicons";
@import "generic";
@import "js-image-slider";
@import "flat-ui";
@import "notifications.scss";
@import "contents.scss";
@import "cultivated_areas.scss";

$maincolor: #ffffff;
$bg-color: #27AE60;
$shadow: 0px 6px 6px 4px rgba(0,0,0,0.5);

%margin-auto {
	margin-right: auto;
	margin-left: auto;
}

body {
	background-color: $maincolor;
}

html,body{
	background-color: $maincolor;
	min-height: 100%;
	height: 100%;
}
.logo{
	margin-bottom:50px;
}
.push {
	height: 4em;
}
.container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
	min-width: 100%;
	margin: 0 auto -4em;
}

.navbar {
	margin-bottom: 50px;

}

.nav-color {
	background-color: #ACE25C !important;
}

.page-wrapper{
	min-height: 100%;
	height: 100%;
	background-color: $maincolor;

	}
.circle {
	border-radius: 3%;
	border-color: #2C3E50;
	/*border: 5px solid;*/

	background-color: #ECF0F1;
	/* width and height can be anything, as long as they're equal */
}
.authenticate-nav{
	float: right;
}
.imagine-nav{
	/*margin-top: -50px;*/
}

.container-navbar{
	float: right;
}

.nav-li{
	float: right;
	margin-right: 10px;
}

.nav-wrapper{
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.header-wrapper{
	margin-left: auto;
	margin-right: auto;
}

.name-web{
	max-width: 300px;
		/*margin-left: auto;
		margin-right: auto;*/
		/*float: left;*/
	}

.input-search{
		padding-top: 30px;
		float: right;
		max-width: 500px;
	}

.btn-search{
	height: 34px;
}

.footer {
	/*margin-top: 50spx;*/
   	position:static;
   	bottom:0;
   	width:100%;
   	/*height:60px;*/
   	background-color: #ACE25C !important;
   	color: #3E4347;
   	div {
		text-align: left;

   	}

   	.footer-container {
   		background-color: #ACE25C;
   		.footer-desc {
   			float: left;
   			margin-left: 50px;
   		}
   	}

}

.kanoon-logo {
	float: left;
	background-color: #ACE25C;
	margin-bottom: 5px;
	@media screen and (max-width: 600px) {
		margin-right: auto;
		margin-left: auto;
	}
}

.logo {
	margin-left: 15px;
	margin-bottom: 0px !important;
	@media screen and (max-width: 600px) {
		margin-left: 0px;
	}	
}




/*Log in*/


.login-container{
	margin-top: 10px;
	/*background-color: lighten($maincolor,50%);*/
	background-color: #d5f0ad;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: left;
	/*min-height: 300px;*/
	/*min-width: 40%;*/
	width: 100%;
}

.login-component{
	/*min-width: 300px;*/
	margin: 30px !important;
}

.login-field{
	/*min-width: 200px;*/
}



	/*SIGNUP*/

	.signup-component{
		/*max-width: 600px;*/
		margin: 30px !important;
	}

	.signup-field{
		/*min-width: 400px;*/
	}

	.signup-container{
		margin-top: 10px;
		/*background-color: lighten($maincolor,50%);*/
		background-color: #d5f0ad;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
		padding-bottom: 15px;
		text-align: left;
		/*min-height: 300px;*/
		/*min-width: 700px;*/
		width: 100%;
	}

@media screen and (max-device-width: 991px) {
	.footer {
	   position:static;
	}
}
@media screen and (max-device-width: 769px) {
	.footer {
	   position:static;
	}
	.container-navbar{
		float: none;
	}
	.nav-btn{
		float: left;
	}

	.nav-wrapper{
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.nav-li{
		float: none;
		text-align: center;
		/*clear: both;*/
	}

	.page-wrapper{
		/*margin-top: 50px;*/
		max-width: 100%;
		padding: 0px;
		margin-right: auto;
		margin-left: auto;
	}

	.input-search{
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
	/*SIGNUP*/

	.signup-component{
		min-width: 300px;
		margin: 50px !important;
	}

	.signup-field{
		min-width: 200px;
	}

	.signup-container{
		margin-top: 10px;
		/*background-color: lighten($maincolor,50%);*/
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px;
		text-align: left;
		/*min-height: 300px;*/
		min-width: 400px;
		width: 50%;
	}
}



/*EDIT*/

.user-container{
	margin-top: 10px;
	background-color: lighten($maincolor,50%);
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	text-align: left;
	/*min-height: 300px;*/
	max-width: 440px;
	/*width: 50%;*/
}

.user-component{
	margin-left: auto;
	margin-right: auto; 
}

.user-field{
	max-width: 300px;
}



