$bg-color: #27AE60;

.contents-container {
   @extend %margin-auto;
    margin-bottom: 50px;
    max-width: 60%;
    text-align: left;
    @media screen and (max-width: 769px) {
     max-width: 100%;
    }
    @media screen and (min-width: 769px) {
      max-width: 80%;
    }
    @media screen and (min-width: 1300px) {
      max-width: 60%;
    }
}  

.content-container {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(17,108,75,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(17,108,75,1);
    box-shadow: 0px 0px 5px 0px rgba(17,108,75,1);
    margin-bottom: 20px;
    min-height: 260px;
    
    .content-header {
      width: 100%;
      background-color: $bg-color;
      padding: 2px 5px 2px 5px;

      a {
        margin: 0px;
        color: #FFFFFF;
      }
    }

    .noti-header {
      width: 100%;
      background-color: #f1c40f;
      padding: 2px 20px 2px 20px;
      color: #FFFFFF;

      a {
        margin: 0px;
        color: #FFFFFF;
      }
    }
    
    .content-body {
      padding: 10px;
      .content-img {
        margin: 5px 10px 10px 5px;
        float: left;
        line-height: 100px;
      } 
    }

  }

.content-img {
	max-width: 90%;
}	

@media screen and (max-width: 769px) {
  .content-img {
    max-width: 100%;
  } 
}

/*.content-title {

  border-bottom: 2px solid ;
}*/

